*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --black: #333;
    --black2: #333;
    --white: #fff;
    --white2: #fff;
}

*::selection{
    background: rgba(71, 119, 126, 0.384);
    color: var(--black);
}

body{
    overflow-x: relative;
}

.container{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--white2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s, left 0.5s;
}

.navigation.active{
    width: 0;
}

.navigation ul{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 5px;
    white-space: normal;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    opacity: 0.5;
    transition: 0.3s;
}

.navigation ul li a:hover{
    margin: 15px 10px;
    opacity: 1;
}

.main{
    position: absolute;
    width: calc(100% - 300px);
    min-height: 100vh;
    left: 300px;
    background: var(--white);
    transition: width 0.5s;
}

.main.active{
    width: calc(100% - 0px);
    left: 0;
}

.main .topbar{
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
    height: 60px;
    left: 300px;
    background: var(--white2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    transition: width 0.5s;
}

.main .topbar.active{
    width: calc(100% - 0px);
    left: 0;
}

.main .topbar .logo{
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.main .topbar .toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--black);  
}

section{
    position: relative;
    min-height: 100vh;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0 20px;
    margin-top: 1rem;
}

.banner .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .content .imgbox{
    position: relative;
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

h3{
    position: relative;
    font-size: 1.5rem;
    color: var(--black);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 1rem 0;
}

p{
    color: #666;
    font-size: 1.2rem;
}

.banner .content .btn{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: var(--black2);
    color: var(--white);
    font-weight: 400;
    letter-spacing: 1px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
}

.socialMedia{
    position: absolute;
    bottom: 0;
    display: flex;
}

.socialMedia li{
    list-style: none;
}

.socialMedia li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 1.2rem;
    transition: 0.3s;
}

.socialMedia li a:hover{
    color: var(--white);
    background: var(--black);
    margin: -0.3rem 0.5rem;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.adjust{
    position: relative;
    min-height: 100vh;
    padding: 0 40px;
    padding-top: 80px;
    background: var(--white);
}

.title{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h2{
   position: relative; 
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 1.2rem;
   margin-bottom: 30px;
   transition: 0.2s;
}

.title h2:hover{
    font-size: 1.5rem;
}

.title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 50px;
    height: 1px; 
    background: var(--black);
}

.about .content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about .content .textBox{
    width: 49%;
    min-width: 49%;
}

.about .content .imgbox{
    margin-left: 48px;
}

.about .content .imgbox img{
    max-width: 100%; 
}

.services .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px 0;
}

.services .content .serviceBox{
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 50px 20px;
    display: flex;
    background: var(--white);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.2 s;
}

.services .content .serviceBox:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.services .content .serviceBox img{
    max-width: 60px;
}

.services .content .serviceBox h2{
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--black);
    text-align: center;
}

.services .content .serviceBox p{
    text-align: center;
}

/* projects  section */
.projects .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

.projects .content .workBox{
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.projects .content .workBox:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.projects .content .workBox .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
}

.projects .content .workBox:hover .imgbox{
    transform: translateY(-100%);
}

.projects .content .workBox .imgbox img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects .content .workBox .textBox{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: 0.5s ease-in-out;
}

/* .projects .content .workBox:hover .textBox{
    transform: translateY(0);
} */

.projects .content .workBox .textBox h3{
    color: var(--white);
    font-size: 1.2rem;
    text-align: center;
}

.testimonials .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 30px 0;
}

.testimonials .content .testimonialsBox{
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.testimonials .content .testimonialsBox imgbox{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.testimonials .content .testimonialsBox imgbox img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .testimonialsBox p{
    font-style: italic;
}

.testimonials .content .testimonialsBox h4{
    text-align: right;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    color: var(--black);
    line-height: 1.2rem;
    font-weight: 600;
    border-right: 4px solid var(--black);
    padding-right: 10px;
}

.testimonials .content .testimonialsBox h4 span{
    text-transform: initial;
    color: #aaa;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1rem;
}

.contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.contact .contactForm{
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}

.contact .contactForm .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

.contact .contactForm .row2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.contact .contactForm .row input,
.contact .contactForm .row2 textarea{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: var(--black);
    background: var(--white);
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact .contactForm .row2 textarea{
    resize: none;
    height: 200px;
}

.contact .contactForm .row2 input[type="submit"]{
    background: var(--black);
    color: var(--white);
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
}

.contact .contactForm .row2 input[type="submit"]:hover{
    background: var(--white);
    color: var(--black);
    font-weight: 600;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.copyright{
    position: relative;
    bottom: 0;
    padding: 10px 40px;
    text-align: center;
}


/* media querires */
@media (max-width: 992px) {
    .navigation{
        left: -100%;
    }

    .navigation.active{
        left: 0;
        width: 100%;
        height: 100vh;
    }

    .main{
        width: 100%;
        left: 0;
    }

    .main.active{
        left: 100%;
    }
    
    .main .topbar{
        width: 100%;
        left: 0;
        padding: 20px 30px;
    }
    
    .banner{    
        margin-top: 2rem;
        padding: 0 20px;
    }

    .banner .imgbox{
        width: 300px;
        height: 300px;
    }
    .socialMedia{
        bottom: -5px;
        z-index: 99;
    }

}


@media (max-width: 545px) {
    .adjust{
        min-height: 100vh;
        min-width: 100vw;
        padding: 0 20px;
        padding-top: 60px;
    }

    .banner{    
        margin-top: 1rem;
    }

    .banner .content .imgbox{
        width: 18rem;
        height: 18rem;
        margin-bottom: 3.5rem;
    }

    .socialMedia{
        bottom: 30px;
    }

    .about .content{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .about .content .textBox{
        width: 100%;
    }
    
    .about .content .imgbox{
        margin: 5px;
    }
    
    .services .content{
        grid-template-columns: repeat(2, 1fr);
    }

    .projects .content{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .testimonials .content{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        margin: 25px 0;
    }
    
}

@media (max-width: 420px) {
    .adjust{
        min-height: 100vh;
        min-width: 100vw;
        padding: 0 20px;
        padding-top: 50px;
    }

    .banner{    
        margin-top: 1rem;
    }

    .banner .content h3{
        margin-top: -1rem;
    }

    .banner .content p{
        margin-bottom: 1rem;
    }

    .socialMedia{
        bottom: 25px;
    }


    .banner .content p{
        text-align: center;
        margin-top: 0 10px;
    }
    .services .content{
        grid-template-columns: repeat(1, 1fr);
    }

    .projects .content{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .testimonials .content{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 13px;
        margin: 22px 0;
    }
    
    .contact .contactForm .row{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        margin: 25px 0;
    }
    

    
}


