*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section{
    padding: 1rem;
    margin: 2rem 10rem;
}

h2{
    font-size: 1.8em;
}

h3{
    font-size: 1.5em;
}

p{
    font-size: 1.2em;
    line-height: 125%;
}

#progress-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 8px;
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    width: 0%;
    z-index: 99;
}


@media (max-width:540px) {
    
    section{
        margin: 1.5rem 5rem;
    }

    h2{
        font-size: 1.5em;
    }

    h3{
        font-size: 1.2em;
    }

    p{
        font-size: 1em;
        line-height: 120%;
    }

}